<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ static_url('lib/bootstrap.min.css') }}" crossorigin="anonymous">

    <title>Kaldi Server</title>
</head>
<body>
<div class="container">
    <div class="w-90 bg-light p-2 m-auto">
        <h3 class="text-center m-3 s-5">Online Decoding</h3>
        <div class="m-3 s-5">
            <textarea class="form-control" rows="10" disabled="disabled" id="txtTrans">

            </textarea>
        </div>
        <div class="row m-3 s-5">
            <div class="col text-center">
                <button type="button" class="btn btn-outline-primary" id="btnRecord">Record</button>
                <button type="button" class="btn btn-outline-primary" id="btnStop">Stop</button>
            </div>
        </div>
    </div>
</div>

<script src="{{ static_url('lib/jquery-1.10.2.min.js') }}"></script>
<script src="{{ static_url('lib/bootstrap.min.js') }}"></script>
<script src="{{ static_url('lib/recorder.js') }}"></script>
<script src="{{ static_url('lib/recorderWorker.js') }}"></script>
<script src="{{ static_url('lib/dictate.js') }}"></script>
<script src="{{ static_url('script/index.js') }}"></script>
</body>
</html>